@{
    ViewData["Title"] = "Backend for Cinemate";
}



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Backend for Cinemate</h1>
</div>

<div class="alert alert-primary">
    <p><b>Домен:</b> http://backend.cinemate.pp.ua/</p>
    <p>
        <b>Формат запитів:</b> JSON та FormData
    </p>
    <p>
        <b>Авторизація:</b> Для доступу до деяких ендпоінтів необхідно 
        пройти авторизацію за допомогою логіну та пароля. Після успішної авторизації
        користувач отримує доступ до операцій із фільмами, коментарями, обраними фільмами та ін.
        Статус авторизації перевіряється через заголовки запитів або токени.
    </p>
</div>

<div class="text-center">
    <h3>Ендпоінти для роботи з користувачами</h3>
</div>
<div class="alert alert-primary">
    <p><b>Реєстрація користувача</b></p>
    <p><b>Метод:</b> POST</p>
    <p><b>URL:</b> http://backend.cinemate.pp.ua/api/signupuser</p>
    <b>Параметри:</b>
    <ul>
       
        <li>userName</li>
        <li>firstName</li>
        <li>surname</li>
        <li>email (обов'язково)</li>
        <li>phoneNumber</li>
        <li>password (обов'язково)</li>
        <li>avatar</li>
    </ul>
</div>

<div class="alert alert-primary">
    <p><b>Зміна інформації про користувача</b></p>
    <p><b>Метод:</b> PATCH</p>
    <p><b>URL:</b> http://backend.cinemate.pp.ua/api/signupuser</p>
    <b>Параметри:</b> (можна змінювати будь-які з них)
    <ul>
        <li>userName</li>
        <li>firstName</li>
        <li>surname</li>
        <li>phoneNumber</li>
        <li>password </li>
        <li>avatar</li>
    </ul>
</div>

<div class="alert alert-primary">
    <p><b> Авторизація користувача</b></p>
    <p><b>Метод:</b> POST</p>
    <p><b>URL:</b> http://backend.cinemate.pp.ua/api/auth</p>
    <b>
        Параметри:
    </b>
    <ul>
        <li> <b>email </b>(обов'язково)</li> 
        <li> <b> password </b>(обов'язково)</li>
    </ul>
   @{
        var userName = Context.Session.GetString("AuthUserId");
    }

    <div class="alert alert-primary">
        @if (userName != null)
        {
            <p>Ласкаво просимо, @userName.!</p>
        }
        else
        {
            <p>Будь ласка, увійдіть до системи.</p>
            <form id="authForm" method="post">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>

                <button class="btn btn-light" type="submit">Login</button>
            </form>
        }
    </div>
</div>

<div class="alert alert-primary">
    <p><b>Вихід користувача</b></p>
    <p><b>Метод:</b> DELETE</p>
    <p><b>URL:</b>http://backend.cinemate.pp.ua/api/auth</p>
        @if (userName != null)
        {
            <button class="btn btn-light" id="deleteAuthUser">Exit</button>
        }
</div>

<div class="alert alert-primary">
    <div>
        <p><b>Отримання інформації про користувача</b></p>
        <p><b>Метод:</b> GET</p>
        <p><b>URL:</b> http://backend.cinemate.pp.ua/api/signupuser</p>
        @if (userName != null)
        {
            <button class="btn btn-light" id="loadUserData">Load user data</button>
        }
        else
        {

             <p> <button class="btn btn-light" id="loadUserData" disabled>Load user data</button>
                - Необхідно авторизуватись
            </p>
        }
    </div>
    <div id="userdata"></div>
</div>



<div class="text-center">
    <h3>
        Ендпоінти для роботи з фільмами та категоріями
    </h3>
</div>

<div class="alert alert-primary">
<div>
        <p><b>Перелік категорій</b></p>
        <p><b>Метод:</b> GET</p>
        <p><b>URL:</b>  http://backend.cinemate.pp.ua/api/Categories</p>
        <button class="btn btn-light" id="loadCategories">Load Categories</button>
</div>
<div  id="categories"></div>
</div>


<div class="alert alert-primary">
<div>
        <p><b>Перелік підкатегорій для категорії</b></p>
        <p><b>Метод:</b> GET</p>
        <p><b>URL: </b>http://backend.cinemate.pp.ua/api/Categories/{categoryId}<p/>
        <button class="btn btn-light" id="loadSubCategories">Load SubCategories</button>
</div>

<div  id="subcategories"></div>
</div>


    <div class="alert alert-primary">
<div>
        <p><b>Перелік фільмів для категорії</b></p>
        <p><b>Метод:</b> GET<p/>
        <p><b>URL:</b> http://backend.cinemate.pp.ua/api/movies?categoryId={categoryId}</p>
        <button class="btn btn-light" id="loadMoviesFromCategories">Load Movies From Categories</button>
</div>
<div  id="moviesFromCategories"></div>
</div>


<div class="alert alert-primary">
<div>
        <p><b>Перелік фільмів для підкатегорії</b></p>
        <p><b>Метод:</b> GET<p />
        <p><b>URL:</b> http://backend.cinemate.pp.ua/api/movies?subcategoryId={subcategoryId}</p>
        <button class="btn btn-light" id="loadMoviesFromSubCategories">Load Movies From SubCategories</button>
</div>

<div  id="moviesFromSubCategories"></div>
</div>


<div class="alert alert-primary">
    <div>
        <p><b>Інформація про фільм за ID</b></p>
        <p><b>Метод:</b> GET</p>
        <p><b>URL:</b> http://backend.cinemate.pp.ua/api/movies/{movieId}</p>
        <button class="btn btn-light" id="loadMovie">Load Movie</button>
    </div>
    <br />
    <div id="movie"></div>
</div>


<div class="text-center">
    <h3>
        Ендпоінти для взаємодії з лайками, дизлайками та коментарями
    </h3>
</div>

<div class="alert alert-primary">
    <div>
        <p><b>Лайк/Дизлайк фільма</b></p>
        <p><b>Метод:</b> POST</p>
        <p><b>URL:</b> http://backend.cinemate.pp.ua/api/likes/toggle-like</p>
        <b>Параметри:</b>

        <ul>
            <li>movieId (обов'язково)</li>
            <li>IsLiked (обов'язково false або true)</li>
            <li>IsDisliked (обов'язково false або true)</li>
        </ul>
        <div>
        <button id="likeButton" class="btn btn-light" data-movie-id="5DF3E4B9-F8D1-4E0A-82DD-012444EFF7E5" data-liked="false">Like</button>
        <button id="dislikeButton" class="btn btn-light" data-movie-id="5DF3E4B9-F8D1-4E0A-82DD-012444EFF7E5" data-disliked="false">Dislike</button>
        </div> <br/>
        <div id="likeCount"></div>
    </div><br />
</div>

<div class="alert alert-primary">
    <div>
        <p><b>Отримати статус лайка/дизлайка для фільма</b></p>
        <p><b>Метод:</b> GET</p>
        <p><b>URL: </b> http://backend.cinemate.pp.ua/api/likes/get-status?movieId={movieId}</p>
        <p><b>Для прикладу: </b>movieId=123e4567-e89b-12d3-a456-426614174000</p>
    </div>
    <div id="likeresult"></div>
</div>


<div class="alert alert-primary">
    <p><b>Додавання коментаря до фільму</b></p>
    <p><b>Метод:</b> POST</p>
    <p><b>URL: </b>http://backend.cinemate.pp.ua/api/comment</p>
    <b>Параметри:</b>
    <ul>
        <li>movieId (обов'язково)</li>
        <li>comment (обов'язково)</li>
    </ul>
    <p><b>Для прикладу movieId: </b>123e4567-e89b-12d3-a456-426614174000</p>
    <div class="alert alert-primary">
            <form id="commentForm" method="post">
            <label for="commentId">Додайте коментар:</label>
            <textarea class="form-control" id="commentId" name="commentId" rows="3" required></textarea><br><br>
                @if (userName != null)
                {
                    <button class="btn btn-light" type="submit">Add comment</button>
                }
                else
                {
                <p>
                    <button class="btn btn-light" type="submit" disabled>Add comment</button>
                    - необхідно авторизуватись
                </p>
                }
            </form>
        <div id="commentresponse"></div>
    </div>
</div>


<div class="alert alert-primary">
    <div>
        <p><b>Отримання коментарів для фільма</b></p>
        <p><b>Метод:</b> GET</p>
        <p><b>URL: </b> http://backend.cinemate.pp.ua/api/comment/{movieId}</p>
        <p><b>Для прикладу movieId: </b>5DF3E4B9-F8D1-4E0A-82DD-012444EFF7E5</p>
        <button class="btn btn-light" id="loadComment">Load comments</button>
    </div>
    <br />
    <div id="commentsAll"></div>
</div>


<div class="alert alert-primary">
    <p><b>Видалення коментаря по ID</b></p>
    <p><b>Метод: </b>DELETE</p>
    <p><b>URL:</b> http://backend.cinemate.pp.ua/api/comment/{commentId}</p>
    <ul>
        <li>idComment - обов'язкове поле</li>
    </ul>
    <form id="deleteComment" >
        <label for="idComment">Додайте Id коментаря:</label>
        <input type="text" id="idComment" name="idComment" required><br><br>
        @if (userName != null)
        {
            <button class="btn btn-light" type="submit">Delete comment</button>
        }
        else
        {
            <p>
            <button class="btn btn-light" type="submit" disabled>Delete comment</button>
                -необхідно авторизуватись
            </p>
        }
    </form>
    <div id="resultDeleteCommentMessage"></div>
    
</div>

<div class="text-center">
    <h3>
        Ендпоінти для роботи з обраними фільмами
    </h3>
</div>
<div class="alert alert-primary">
    <p><b>Додавання фільму до обраних</b></p>
    <p><b>Метод: </b>POST</p>
    <p><b>URL: </b> http://backend.cinemate.pp.ua/api/FavoriteMovies</p>
    <b>Параметри:</b>
    <ul>
        <li>movieId (обов'язково)</li>
    </ul>
        @if (userName != null)
        {
        <button id="favoriteButton" class="btn btn-light" type="submit">Додати в обране</button>
        }
        else
        {
            <p>
        <button id="favoriteButton" class="btn btn-light" type="submit" disabled>Додати в обране</button> 
         - необхідно авторизуватися</p>
        }

    <div id="favoriteResponse"></div>
</div>

<div class="alert alert-primary">
    <p><b>Видалення фільму з обраних</b></p>
    <p><b>Метод: </b>DELETE</p>
    <p><b>URL: </b> http://backend.cinemate.pp.ua/api/FavoriteMovies</p>
    <b>Параметри:</b>
    <ul>
        <li>movieId (обов'язково)</li>
    </ul>
        @if (userName != null)
        {
        <button id="favoriteButtonDelete" class="btn btn-light" type="submit">Remove movie from Favorites</button>
        }
        else
        {
        <p>
        <button id="favoriteButtonDelete" class="btn btn-light" type="submit" disabled>Remove movie from Favorites</button>
         - необхідно авторизуватись
        </p>
        }
    <div id="resultDeleteMovieFromFavoritesMessage"></div>
</div>

<div class="alert alert-primary">
    <div>
        <p><b>Отримання всіх фільмів з обраних</b></p>
        <p><b>Метод: </b>GET</p>
        <p><b>URL:</b>http://backend.cinemate.pp.ua/api/FavoriteMovies</p>
        @if (userName != null)
        {
            <button class="btn btn-light" id="loadFavoriteMovies">Load favorite movies</button>
        }
        else
        {
            <p>
            <button class="btn btn-light" id="loadFavoriteMovies" disabled>Load favorite movies</button>
                - необхідно авторизуватись
            </p>
        }
    </div>

    <div id="resultFavoriteMovies"></div>
</div>

<div class="text-center">
    <h3>
        Ендпоінти для роботи з "заблокованими" фільмами
    </h3>
</div>
<div class="alert alert-primary">
    <p><b>Заблокувати фільм по ID</b></p>
    <p><b>Метод: </b>PATCH</p>
    <p><b>URL: </b>http://backend.cinemate.pp.ua/api/{movieId}/ban</p>
    <p><b>Розблокувати фільм по ID</b></p>
    <p><b>Метод: </b>PATCH</p>
    <p><b>URL: </b>http://backend.cinemate.pp.ua/api/{movieId}/unban</p>
    <form id="banMovieForm">
        <label for="idMovieBan">Додайте Id фільму:</label>
        <input type="text" id="idMovieBan" name="idMovieBan" required><br><br>
        @if (userName != null)
        {
            <button class="btn btn-light" type="submit" name="action" value="ban">Ban</button>
            <button class="btn btn-light" type="submit" name="action" value="unban">Unban</button>
        }
        else
        {
            <p>
            <button class="btn btn-light" type="submit" disabled>Ban</button>
            <button class="btn btn-light" type="submit" disabled>Unban</button>
            -необхідно авторизуватись -доступно лише адміністратору</p>
        }
    </form>
    <div id="resultBanMessage"></div>

</div>

<div class="alert alert-primary">
    <p><b> Отримати всі заблоковані фільми</b></p>
    <p><b>Метод: </b>GET</p>
    <p><b>URL: </b>http://backend.cinemate.pp.ua/api/movies/banned</p>
        @if (userName != null)
        {
            <button class="btn btn-light" id="loadMoviesFromStatusBlokce">Load movies from the blocked list</button>
        }
        else
        {
        <p>
            <button class="btn btn-light" id="loadMoviesFromStatusBlokce" disabled>Load movies from the blocked list</button>
            -необхідно авторизуватись - доступно лише адміністратору
        </p>
        }
    <div id="moviesFromStatusBlokce" "></div>
</div>

<div class="text-center">
    <h3>
        Ендпоінти для збереження інформації про час паузи
    </h3>
</div>

<div class="alert alert-primary">
    <p><b>Збереження часу паузи фільму</b></p>
    <p><b>Метод:</b> POST</p>
    <p><b>URL:</b> http://cinemate.pp.ua/api/pause/save</p>
    <b>Параметри:</b>
    <ul>
        <li>movieId (обов'язково)</li>
        <li>pauseTime (обов'язково)</li>
    </ul>
</div>


<div class="alert alert-primary">
    <p><b>Отримання часу паузи для фільму</b></p>
    <p><b>Метод:</b> GET</p>
    <p><b>URL:</b> http://cinemate.pp.ua/api/pause/{movieId}</p>
</div>

<div class="alert alert-primary">
    <p><b>Отримання переліку фільмів з часом паузи для користувача</b></p>
    <p><b>Метод:</b> GET</p>
    <p><b>URL:</b> http://backend.cinemate.pp.ua/api/pause</p>
    <div>
    @if (userName != null)
    {
            <button class="btn btn-light" id="loadpause">Load movies with pause</button>
    }
    else
    {
            <p> 
            <button class="btn btn-light" id="loadpause" disabled>Load movies with pause</button>
                 -необхідно авторизуватись </p >
    }
    </div>

    <div id="pause"></div>
</div>

<div class="text-center">
    <h3>
        Ендпоінти для роботи з пріоритетними категоріями
    </h3>
</div>

<div class="alert alert-primary">
    <p><b> Встановлення пріоритетних категорій</b></p>
    <p><b>Метод:</b> POST</p>
    <p><b>URL:</b> http://backend.cinemate.pp.ua/api/prioritycategories</p>
    <b>Параметри:</b>
    <ul>
        <li>
            JSON масив GUID-ів категорій: ["guid1", "guid2", "guid3"]
        </li>
    </ul>
</div>

<div class="alert alert-primary">
    <div>
        <p><b>Отримання фільмів за пріоритетними категоріями</b></p>
        <p><b>Метод:</b> GET</p>
        <p><b>URL:</b> http://backend.cinemate.pp.ua/api/prioritycategories</p>
        <b>Параметри:</b>
    @if (userName != null)
    {
            <button class="btn btn-light" id="loadPriority">Load movies </button>
    }
    else
    {
            <p> 
            <button class="btn btn-light" id="loadPriority" disabled>Load movies</button>
                - необхідно авторизуватись
            </p>
    }
    </div>
    <div id="priority"></div>
</div>

<div class="text-center">
    <h3>
       Пошук фільмів
    </h3>
</div>
<div class="alert alert-primary">
    <p><b>Пошук фільмів за ключовим(и) слов(ом/ами)</b></p>
    <p><b>Метод:</b> GET</p>
    <p><b>URL:</b>  http://backend.cinemate.pp.ua/api/movies/search?search={search}</p>
    <b>Параметри:</b>
    <ul>
        <li>
            search (рядок для пошуку)
        </li>
    </ul>
    <div class="alert alert-primary">
        <p>Введіть інформацію для пошуку</p>
        <form id="searchForm" method="post">
    @* <label for="searchId">Search:</label>*@
            <input class="form-control" id="searchId"  placeholder="Поиск..." name="searchId" type="text" required></input><br><br>
            <button class="btn btn-light" type="submit">Search</button>
        </form>
        <div id="searchresponse"></div>
    </div>
</div>

<div class="text-center">
    <h3>
        Повідомлення та їх статус
    </h3>
</div>

<div class="alert alert-primary">
    <p><b> Отримати всі повідомлення та їх статус щодо користувача(прочитано/не прочитано)</b></p>
    <p><b>Метод: </b>GET</p>
    <p><b>URL: </b>http://backend.cinemate.pp.ua/api/Notification</p>
    @if (userName != null)
    {
        <button class="btn btn-light" id="loadNotification">Load notifications</button>
    }
    else
    {
        <p>
            <button class="btn btn-light" id="loadNotification" disabled>Load notifications</button>
            -необхідно авторизуватись 
        </p>
    }
    <div id="resultNotification"></div>
</div>

<div class="alert alert-primary">
    <div>
        <p><b>Зміни стату повідомлення на прочитано</b></p>
        <p><b>Метод:</b> PATCH</p>
        <p><b>URL:</b> http://backend.cinemate.pp.ua/api/Notification/mark</p>
        <b>Параметри:</b>

        <ul>
            <li>NotificationId (обов'язково)</li>
            <li>IsRead (обов'язково false-не прочитано або true - прочитано)</li>
        </ul>
        <div>
            <button id="readButton" class="btn btn-light">Read</button>
        </div> <br />
        <div id="resNotStatus"></div>
    </div><br />
</div>

   