@{
    ViewData["Title"] = "Home Page";
}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Backend for Cinemate</h1>
</div>
<div class="alert alert-primary">
<div>
     Endpoint - повертає перелік категорій на які розподілено фільми<br />
    <button id="loadCategories">Load Categories</button>
    URL: http://backend.cinemate.pp.ua/api/Categories
</div>

<div  id="categories"></div>
</div>
<br />
<br />
<div class="alert alert-primary">
<div>
        Endpoint - повертає перелік підкатегорій на які розподілено категрії<br />
    <button id="loadSubCategories">Load SubCategories</button>
    URL: http://backend.cinemate.pp.ua/api/Categories/61D20472-5017-48B9-B976-07E36A396A95
</div>

<div  id="subcategories"></div>
</div>
<br />
<br />
    <div class="alert alert-primary">
<div>
        Endpoint - повертає усі фільми обраної категрії <br />
    <button id="loadMoviesFromCategories">Load Movies From Categories</button>
    URL: https://backend.cinemate.pp.ua/api/movies?categoryId=61D20472-5017-48B9-B976-07E36A396A95
</div>

<div  id="moviesFromCategories"></div>
</div>
<br />
<br />
        <div class="alert alert-primary">
<div>
        Endpoint - повертає усі фільми обраної підкатегорії <br />
    <button id="loadMoviesFromSubCategories">Load Movies From SubCategories</button>
    URL: https://backend.cinemate.pp.ua/api/movies?subcategoryId=0966A6CA-BE90-4AFF-BE04-CF4EFF71236E
</div>

<div  id="moviesFromSubCategories"></div>
</div>
<br />
<br />
<div class="alert alert-primary">
    <div>
        Endpoint - повертає обраний фільм <br />
        <button id="loadMovie">Load Movie</button>
        URL: https://backend.cinemate.pp.ua/api/movies/5DF3E4B9-F8D1-4E0A-82DD-012444EFF7E5
    </div>

    <div id="movie"></div>
</div>
<br />
<br />

<div class="alert alert-primary">
    <div>
        Endpoint - Обробляє лайки або дизлайки фільма. <br />
        <button id="likeButton" data-movie-id="5DF3E4B9-F8D1-4E0A-82DD-012444EFF7E5" data-liked="false">Like</button>
        <button id="dislikeButton" data-movie-id="5DF3E4B9-F8D1-4E0A-82DD-012444EFF7E5" data-disliked="false">Dislike</button>
        URL: https://backend.cinemate.pp.ua/api/likes/toggle-like<br /><br />
        
        Метод запиту - POST<br />
        
        Мриклад запиту:<br />

          {MovieId": "123e4567-e89b-12d3-a456-426614174000"<br />
          "IsLiked": true,<br />
          "IsDisliked": false}
       
    </div>

    <div id="like"></div>
</div>
<br />
<br />




<div class="alert alert-primary">
    Endpoint - передача данных для регистрации пользователя<br />
    URL: http://backend.cinemate.pp.ua/api/signupuser<br />
    метод запроса - POST
    <ul>
        ключи соответствующие модели сервера
        <li>userName</li>
        <li>firstName</li>
        <li>surname</li>
        <li>email - обязательное поле</li>
        <li>phoneNumber</li>
        <li>password - обязательное поле</li>
        <li>avatar</li>
    </ul>
</div>

<div class="alert alert-primary">
    Endpoint - авторизация пользователя<br />
    URL: http://backend.cinemate.pp.ua/api/auth<br />
    метод запроса - POST
    <ul>
        ключи соответствующие модели сервера
        <li>email - обязательное поле</li>
        <li>password - обязательное поле</li>
    </ul>
   

    @{
        var userName = Context.Session.GetString("AuthUserId");
    }

    <div class="alert alert-primary">
        @if (userName != null)
        {
            <p>Добро пожаловать, @userName.!</p>
        }
        else
        {
            <p>Пожалуйста, войдите в систему.</p>
            <form id="authForm" method="post" >
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>

                <button type="submit">Login</button>
            </form>
        }
    </div>
</div>



<script src="~/js/scripts.js"></script>
