@{
    ViewData["Title"] = "Backend for Cinemate";
}



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Backend for Cinemate</h1>
</div>


<div class="alert alert-primary">
    Endpoint - запит для реєстрації користувача<br />
    URL: http://backend.cinemate.pp.ua/api/signupuser<br />
    метод запиту - POST
    <ul>
        ключі відповідно до моделі сервера
        <li>userName</li>
        <li>firstName</li>
        <li>surname</li>
        <li>email - обязательное поле</li>
        <li>phoneNumber</li>
        <li>password - обязательное поле</li>
        <li>avatar</li>
    </ul>
</div>

<div class="alert alert-primary">
    Endpoint - запит для зміни інформації про користувача<br />
    URL: http://backend.cinemate.pp.ua/api/signupuser<br />
    метод запиту - PATCH
    <ul>
        ключі відповідно до моделі сервера(не обов'язкові)
        <li>userName</li>
        <li>firstName</li>
        <li>surname</li>
        <li>phoneNumber</li>
        <li>password </li>
        <li>avatar</li>
    </ul>
</div>

<div class="alert alert-primary">
    Endpoint - авторизація користувача<br />
    URL: http://backend.cinemate.pp.ua/api/auth<br />
    метод запиту - POST
    <ul>
        ключі відповідно до моделі сервера
        <li>email - обов'язкове поле (для прикладу використовуйте-qaaa@gmail.com)</li>
        <li>password - обов'язкове поле (для прикладу використовуйте-1111)</li>
        <li>qaaa@gmail.com - надано статус адміністратора.</li>
    </ul>


    @{
        var userName = Context.Session.GetString("AuthUserId");
    }

    <div class="alert alert-primary">
        @if (userName != null)
        {
            <p>Ласкаво просимо, @userName.!</p>
        }
        else
        {
            <p>Будь ласка, увійдіть до системи.</p>
            <form id="authForm" method="post">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required><br><br>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required><br><br>

                <button class="btn btn-light" type="submit">Login</button>
            </form>
        }
    </div>
</div>

<div class="alert alert-primary">
    Endpoint - вихід користувача<br />
    URL: http://backend.cinemate.pp.ua/api/auth<br />
    метод запиту - DELETE
    <div class="alert alert-primary">
        @if (userName != null)
        {
            <button class="btn btn-light" id="deleteAuthUser">Exit</button>
        }
    </div>
</div>



<div class="alert alert-primary">
<div>
     Endpoint - повертає перелік категорій на які розподілено фільми<br />
        <button class="btn btn-light" id="loadCategories">Load Categories</button>
    URL: http://backend.cinemate.pp.ua/api/Categories
</div>

<div  id="categories"></div>
</div>


<div class="alert alert-primary">
<div>
        Endpoint - повертає перелік підкатегорій на які розділено категрії<br />
        <button class="btn btn-light" id="loadSubCategories">Load SubCategories</button>
    URL: http://backend.cinemate.pp.ua/api/Categories/61D20472-5017-48B9-B976-07E36A396A95
</div>

<div  id="subcategories"></div>
</div>


    <div class="alert alert-primary">
<div>
        Endpoint - повертає усі фільми обраної категрії <br />
        <button class="btn btn-light" id="loadMoviesFromCategories">Load Movies From Categories</button>
    URL: https://backend.cinemate.pp.ua/api/movies?categoryId=61D20472-5017-48B9-B976-07E36A396A95
</div>

<div  id="moviesFromCategories"></div>
</div>


<div class="alert alert-primary">
<div>
        Endpoint - повертає усі фільми обраної підкатегорії <br />
        <button class="btn btn-light" id="loadMoviesFromSubCategories">Load Movies From SubCategories</button>
    URL: https://backend.cinemate.pp.ua/api/movies?subcategoryId=0966A6CA-BE90-4AFF-BE04-CF4EFF71236E
</div>

<div  id="moviesFromSubCategories"></div>
</div>


<div class="alert alert-primary">
    <div>
        Endpoint - повертає обраний фільм 
        <br />
        <button class="btn btn-light" id="loadMovie">Load Movie</button>
        URL: https://backend.cinemate.pp.ua/api/movies/5DF3E4B9-F8D1-4E0A-82DD-012444EFF7E5
    </div>
    <br />
    <div id="movie"></div>
</div>



<div class="alert alert-primary">
    <div>
        Endpoint - Обробляє лайки або дизлайки фільма після успішної автентифікації. <br />
        <button id="likeButton" class="btn btn-light" data-movie-id="5DF3E4B9-F8D1-4E0A-82DD-012444EFF7E5" data-liked="false">Like</button>
        <button id="dislikeButton" class="btn btn-light" data-movie-id="5DF3E4B9-F8D1-4E0A-82DD-012444EFF7E5" data-disliked="false">Dislike</button>
        URL: https://backend.cinemate.pp.ua/api/likes/toggle-like<br /><br />
        Метод запиту - POST<br />
        приклад запиту:<br />
          {MovieId": "123e4567-e89b-12d3-a456-426614174000"<br />
          "IsLiked": true,<br />
        "IsDisliked": false}<br /><br />
        <div id="likeCount"></div>
    </div><br />
    <div>
        Endpoint - повертає true чи false у разі якщо кнопка like\dislike натиснута або не натиснута авторизованим користувачем щодо фільму<br />
        URL: https://backend.cinemate.pp.ua/api/likes/get-status?movieId=123e4567-e89b-12d3-a456-426614174000<br /><br />
    </div>
    <div id="likeresult"></div>
</div>



<div class="alert alert-primary">
    Endpoint - додати коментар до фільму<br />
    URL: http://backend.cinemate.pp.ua/api/comment<br />
    метод запиту - POST
    <ul>
        ключі відповідно до моделі сервера
        <li>IdMovie - обов'язкове поле = "123e4567-e89b-12d3-a456-426614174000"</li>
        <li>Comment - обов'язкове поле</li>
    </ul>

    <div class="alert alert-primary">
        <p>Додайте коментар</p>
            <form id="commentForm" method="post">
            <label for="commentId">Write a comment:</label>
            <textarea class="form-control" id="commentId" name="commentId" rows="3" required></textarea><br><br>
                @if (userName != null)
                {
                    <button class="btn btn-light" type="submit">Add comment</button>
                }
                else
                {
                <p>Кнопка буде активною після авторизації</p>
                <button class="btn btn-light" type="submit" disabled>Add comment</button>
                }
            </form>
        <div id="commentresponse"></div>
    </div>
</div>


<div class="alert alert-primary">
    <div>
        Endpoint - повертає коментарі до обраного фільму <br />
        <button class="btn btn-light" id="loadComment">Load comments</button>
        URL: http://backend.cinemate.pp.ua/api/comment/5DF3E4B9-F8D1-4E0A-82DD-012444EFF7E5 <br />
        Id фільму - "5DF3E4B9-F8D1-4E0A-82DD-012444EFF7E5" <br />
    </div>
    <br />
    <div id="commentsAll"></div>
</div>


<div class="alert alert-primary">
    Endpoint - видалення коментаря по id <br />
    URL: http://backend.cinemate.pp.ua/api/comment/{idComment}<br />
    метод запиту - DELETE
    ключі відповідно до моделі сервера
    <ul>
    <li>idComment - обязательное поле</li>
    </ul>
    <br />
    <p>Будь ласка додайте Id коментаря</p>
    <form id="deleteComment" >
        <label for="idComment">Id comment:</label>
        <input type="text" id="idComment" name="idComment" required><br><br>
        @if (userName != null)
        {
            <button class="btn btn-light" type="submit">Delete comment</button>
        }
        else
        {
            <p>Кнопка буде активною після авторизації</p>
            <button class="btn btn-light" type="submit" disabled>Delete comment</button>
        }
    </form>
    <div id="resultDeleteCommentMessage"></div>
    
</div>


<div class="alert alert-primary">
    Endpoint - додавання фільму до категорії обраних<br />
    URL: http://backend.cinemate.pp.ua/api/FavoriteMovies<br />
    метод запиту - POST
    <ul>
        ключі відповідно до моделі сервера
        <li>movieId - обязательное поле</li> 
    </ul>
    <br />
        @if (userName != null)
        {
        <button id="favoriteButton" class="btn btn-light" type="submit">Додати в обране</button>
        }
        else
        {
            <p>Кнопка буде активною після авторизації</p>
        <button id="favoriteButton" class="btn btn-light" type="submit" disabled>Додати в обране</button>
        }

    <div id="favoriteResponse"></div>
</div>

<div class="alert alert-primary">
    Endpoint - видалення фільму з обраних <br />
    URL: http://backend.cinemate.pp.ua/api/favoritemovies<br />
    метод запиту - DELETE
    <ul>
    ключі відповідно до моделі сервера
    <li> movieId - обязательное поле</li>
    </ul>
    <br />
        @if (userName != null)
        {
        <button id="favoriteButtonDelete" class="btn btn-light" type="submit">Remove movie from Favorites</button>
        }
        else
        {
            <p>Кнопка буде активною після авторизації</p>
        <button id="favoriteButtonDelete" class="btn btn-light" type="submit" disabled>Remove movie from Favorites</button>
        }
    <div id="resultDeleteMovieFromFavoritesMessage"></div>
</div>

<div class="alert alert-primary">
    <div>
        Endpoint - повертає усі фільми які авторизованим користувачем додано до "обраних"<br />
        @if (userName != null)
        {
            <button class="btn btn-light" id="loadFavoriteMovies">Load favorite movies</button>
        }
        else
        {
            <p>Кнопка буде активною після авторизації</p>
            <button class="btn btn-light" id="loadFavoriteMovies" disabled>Load favorite movies</button>
        }
       
        URL: http://backend.cinemate.pp.ua/api/FavoriteMovies
    </div>

    <div id="resultFavoriteMovies"></div>
</div>

<div class="alert alert-primary">
    Endpoint - заблокувати фільм по ID <br />
    URL: http://backend.cinemate.pp.ua/api/{movieId}/ban<br />
    метод запиту - PATCH
    <br /><br />
    Endpoint - розблокувати фільм по ID <br />
    URL: http://backend.cinemate.pp.ua/api/{movieId}/unban<br />
    метод запиту - PATCH
    <br />
    <br />
    Необхідно додати Id фільму
    <form id="banMovieForm">
        <label for="idMovieBan">Id movie:</label>
        <input type="text" id="idMovieBan" name="idMovieBan" required><br><br>
        @if (userName != null)
        {
            <button class="btn btn-light" type="submit" name="action" value="ban">Ban</button>
            <button class="btn btn-light" type="submit" name="action" value="unban">Unban</button>
        }
        else
        {
            <p>Кнопки будуть активні після авторизації - дані будуть обролятись по запиту адміністратора</p>
            <button class="btn btn-light" type="submit" disabled>Ban</button>
            <button class="btn btn-light" type="submit" disabled>Unban</button>
        }
    </form>
    <div id="resultBanMessage"></div>

</div>

<div class="alert alert-primary">
    <div>
        Endpoint - повертає адміністратору усі фільми, що заблоковано  <br />
        @if (userName != null)
        {
            <button class="btn btn-light" id="loadMoviesFromStatusBlokce">Load movies from the blocked list</button>
        }
        else
        {
            <p>Кнопки будуть активні після авторизації - дані будуть обролятись по запиту адміністратора</p>
            <button class="btn btn-light" id="loadMoviesFromStatusBlokce" disabled>Load movies from the blocked list</button>
        }
        URL: https://backend.cinemate.pp.ua/api/movies/banned
    </div>

    <div id="moviesFromStatusBlokce" "></div>
</div>